body{
    background-color: darksalmon;
    text-align: center;
}
.first-h1{
    padding-top: 50px;
    font-size: 100px;
    font-family: 'Sacramento', cursive;
    
}

img{
    width: 100px;
    height: 100px;
}
.container-1{
    display: inline-block;
    margin: 50px 50px auto auto;
}
.container-2{
    display: inline-block;
    margin: 50px auto auto 50px;
}
.p1{
    font-size: 30px; 
    font-family: 'Roboto', sans-serif;
}
.p2{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
